
prj/*/*/*
!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*_vs*/*.vcxproj.user
!prj/*/*_vs*/*.vdproj
!prj/*/*/*.pro
!prj/*/*_qt/*.pri
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/*/*_wcmake/*.bat
!prj/*/*_wcmake/scripts
!prj/*/*_cmake/*.bat
!prj/*/*_cmake/scripts
!prj/*/*_script/*.sh
!prj/*/*_script/*.bat
!prj/*/*_cmake/*.sh
!prj/*/*_cmake/scripts/*.sh
!prj/*/*_vs*/*.h
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
prj/common/common_qt/sys_common.pri.autosave

contrib/sys/*/*/*/*
contrib/sys/*/*/.objects/*
contrib/sys/*/lib/*
contrib/sys/*/dll/*
contrib/sys/*/bin/*
!contrib/sys/*/*/*.udoc
!contrib/sys/*/*.udoc
!contrib/sys/*.udoc
!contrib/sys/*/doocs64_install/server/*.bat
sys/*/*/*/*
sys/*/*/.objects/*
sys/*/*/.objects/*/*
sys/*/*/.objects/*/*/*
#sys/*/lib/*
#sys/*/dll/*
#sys/*/bin/*
sys/*/src/*
#!sys/*/*/*.udoc
#!sys/*/*.udoc
#!sys/*.udoc
#!sys/*/install/server/*.bat

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Dictionary source files
G__*.cxx
G__*.h
etc/allDict.cxx
etc/allDict.h
*_dictContent.h
*_dictUmbrella.h
*_rdict.pcm

# MacOS Xcode
xcuserdata
project.xcworkspace

# MacOS metadata
.DS_Store

# Visual Code
.vscode/*
.build

# CLion
.idea/*

# QtCreator
CMakeLists.txt.user
*.autosave

# Eclipse
.settings/*
.cproject

# Vim
*.swp

# Other Stuff
*.d
tags

# /
/original/bin
/original/lib
/original/include
/original/config.status
/original/config.log
/original/work.pc
/original/work.pcl
/original/.def
/original/build-arch-stamp
/original/build-indep-stamp
/original/build-arch-cint-stamp
/original/configure-stamp
/original/debian
/original/log
/original/semantic.cache
/original/.gdb_history
/original/buildtools
/original/roottest
/original/*.mk
/original/.project
/original/files

# /README/
/original/README/ChangeLog

# /build/misc/
/original/build/misc/root-help.el

# /config/
/original/config/Makefile.config
/original/config/Makefile.comp

# /core/base/src/
/original/core/base/src/RGitCommit.h

# /core/lzma/src/
/original/core/lzma/src/xz-5.2.1

# /core/lz4/src
/original/core/lz4/src/*.tar.gz
/original/core/lz4/src/lz4-*

# /core/metautils/src/
/original/core/metautils/src/stlLoader_set.cc
/original/core/metautils/src/stlLoader_map2.cc
/original/core/metautils/src/stlLoader_multimap2.cc
/original/core/metautils/src/stlLoader_list.cc
/original/core/metautils/src/stlLoader_multimap.cc
/original/core/metautils/src/stlLoader_vector.cc
/original/core/metautils/src/stlLoader_deque.cc
/original/core/metautils/src/stlLoader_multiset.cc
/original/core/metautils/src/stlLoader_map.cc
/original/core/metautils/src/stlLoader_valarray.cc
/original/core/metautils/src/stlLoader_complex.cc

# /core/pcre/src/
/original/core/pcre/src/pcre-8.37

# /core/rootcling_stage1/src/
/original/core/rootcling_stage1/src/rootcling_stage1

# /documentation/primer/
/original/documentation/primer/ROOTPrimer.tex
/original/documentation/primer/ROOTPrimer.html
/original/documentation/primer/ROOTPrimer.pdf
/original/documentation/primer/ROOTPrimerLetter.pdf
/original/documentation/primer/ROOTPrimer.epub

# /documentation/HttpServer/
/original/documentation/HttpServer/HttpServer.tex
/original/documentation/HttpServer/HttpServer.html
/original/documentation/HttpServer/HttpServer.pdf
/original/documentation/HttpServer/HttpServer.epub
/original/documentation/HttpServer/HttpServerLetter.pdf

# /documentation/minuit2/
/original/documentation/minuit2/Minuit2.tex
/original/documentation/minuit2/Minuit2.html
/original/documentation/minuit2/Minuit2.pdf
/original/documentation/minuit2/Minuit2.epub
/original/documentation/minuit2/Minuit2Letter.pdf

# /documentation/spectrum/
/original/documentation/spectrum/Spectrum.tex
/original/documentation/spectrum/Spectrum.html
/original/documentation/spectrum/Spectrum.pdf
/original/documentation/spectrum/Spectrum.epub
/original/documentation/spectrum/SpectrumLetter.pdf

# /etc/
/original/etc/system.rootrc
/original/etc/system.rootmap
/original/etc/system.rootauthrc
/original/etc/system.rootdaemonrc
/original/etc/root.mimes
/original/etc/gitinfo.txt
/original/etc/cling
/original/etc/allDict.cxx.pch
/original/etc/allDict.cxx.h
/original/etc/dictpch

# /etc/daemons/
/original/etc/daemons/rootd.rc.d
/original/etc/daemons/rootd.xinetd
/original/etc/daemons/proofd.rc.d
/original/etc/daemons/proofd.xinetd
/original/etc/daemons/olbd.rc.d
/original/etc/daemons/xrootd.rc.d

# /etc/proof/
/original/etc/proof/proof.conf
/original/etc/proof/xpd.cf
/original/etc/proof/motd

# /etc/proof/proofbench/
/original/etc/proof/proofbench/ProofBenchCPUSel.par
/original/etc/proof/proofbench/ProofBenchDataSel.par

# /graf2d/asimage/src/libAfterImage/
/original/graf2d/asimage/src/libAfterImage/config.h
/original/graf2d/asimage/src/libAfterImage/Makefile
/original/graf2d/asimage/src/libAfterImage/config.status
/original/graf2d/asimage/src/libAfterImage/afterimage-libs
/original/graf2d/asimage/src/libAfterImage/afterimage-config
/original/graf2d/asimage/src/libAfterImage/config.log
/original/graf2d/asimage/src/libAfterImage/libAfterImage.a

# /graf2d/freetype/src/
/original/graf2d/freetype/src/freetype-2.6.1

# /graf2d/qt/src/
/original/graf2d/qt/src/moc_*.cxx

# /graf2d/win32gdk/gdk/src/gdk/
/original/graf2d/win32gdk/gdk/src/gdk/gdk-1.3.exp
/original/graf2d/win32gdk/gdk/src/gdk/gdk-1.3.lib

# /graf2d/win32gdk/gdk/src/gdk/win32/
/original/graf2d/win32gdk/gdk/src/gdk/win32/gdk-win32.lib
/original/graf2d/win32gdk/gdk/src/gdk/win32/gdk.res

# /gui/fitpanel/test/
/original/gui/fitpanel/test/outputUnitTesting.txt
/original/gui/fitpanel/test/UnitTesting

# /gui/qtgsi/src/
/original/gui/qtgsi/src/moc_*

# /interpreter/cling/lib/UserInterface/
/original/interpreter/cling/lib/UserInterface/textinput

# /interpreter/cling/lib/Interpreter/
/original/interpreter/cling/lib/Interpreter/cling-compiledata.h
/original/interpreter/cling/lib/Interpreter/cling-compiledata.h.in

# /interpreter/cling/...
/original/interpreter/cling/CMakeFiles
/original/interpreter/cling/Makefile
/original/interpreter/cling/cmake_install.cmake
/original/interpreter/cling/*/CMakeFiles
/original/interpreter/cling/*/Makefile
/original/interpreter/cling/*/cmake_install.cmake
/original/interpreter/cling/lib/*/CMakeFiles
/original/interpreter/cling/lib/*/Makefile
/original/interpreter/cling/lib/*/cmake_install.cmake
/original/interpreter/cling/lib/cmake

# /interpreter/llvm/
/original/interpreter/llvm/obj
/original/interpreter/llvm/inst

# /interpreter/llvm/src/utils/lit/lit/
/original/interpreter/llvm/src/utils/lit/lit/*.pyc

# symlink standalone cling within ROOT
/original/interpreter/llvm/src/tools/cling

# /interpreter/llvm/src/utils/llvm-build/llvmbuild/
/original/interpreter/llvm/src/utils/llvm-build/llvmbuild/util.pyc
/original/interpreter/llvm/src/utils/llvm-build/llvmbuild/componentinfo.pyc
/original/interpreter/llvm/src/utils/llvm-build/llvmbuild/__init__.pyc
/original/interpreter/llvm/src/utils/llvm-build/llvmbuild/configutil.pyc
/original/interpreter/llvm/src/utils/llvm-build/llvmbuild/main.pyc

# /macros/
/original/macros/html.C

# /main/src/
/original/main/src/roots.sh
/original/main/src/proofserv.sh
/original/main/src/xproofd.sh

# /math/genetic/test/
/original/math/genetic/test/testGAMinimizer
/original/math/genetic/test/GAMinTutorial
/original/math/genetic/test/timeGA

# /math/genvector/test/
/original/math/genvector/test/*.log
/original/math/genvector/test/rotationApplication
/original/math/genvector/test/vectorOperation
/original/math/genvector/test/testVectorIO
/original/math/genvector/test/testGenVector
/original/math/genvector/test/TrackDict.h
/original/math/genvector/test/coordinates4D
/original/math/genvector/test/stress2D
/original/math/genvector/test/testBoost
/original/math/genvector/test/testIterator
/original/math/genvector/test/coordinates3D
/original/math/genvector/test/TrackDict.cxx
/original/math/genvector/test/stress3D

# /math/mathcore/test/
/original/math/mathcore/test/stressTMath
/original/math/mathcore/test/testIntegration
/original/math/mathcore/test/testSortOrder
/original/math/mathcore/test/testIntegrationMultiDim
/original/math/mathcore/test/binarySearchTime
/original/math/mathcore/test/stressTF1
/original/math/mathcore/test/stdsort
/original/math/mathcore/test/testSpecFuncBeta
/original/math/mathcore/test/testSpecFuncErf
/original/math/mathcore/test/testSpecFuncGamma
/original/math/mathcore/test/testBinarySearch
/original/math/mathcore/test/testRootFinder
/original/math/mathcore/test/testSpecFuncBetaI
/original/math/mathcore/test/testTMath
/original/math/mathcore/test/*.build.log

# /math/mathcore/test/fit/
/original/math/mathcore/test/fit/testFit
/original/math/mathcore/test/fit/testMinim
/original/math/mathcore/test/fit/testFitPerf
/original/math/mathcore/test/fit/testRooFit
/original/math/mathcore/test/fit/SparseDataComparer
/original/math/mathcore/test/fit/SparseFit3
/original/math/mathcore/test/fit/SparseFit4

# /math/mathmore/src/
/original/math/mathmore/src/gsl-1.5

# /math/mathmore/test/
/original/math/mathmore/test/testRandom.out
/original/math/mathmore/test/testIntegrationMultiDim
/original/math/mathmore/test/testInterpolation
/original/math/mathmore/test/testFunctor
/original/math/mathmore/test/testChebyshev
/original/math/mathmore/test/testIntegration
/original/math/mathmore/test/simanTSP
/original/math/mathmore/test/testRandom
/original/math/mathmore/test/testMinimization1D
/original/math/mathmore/test/testPermute
/original/math/mathmore/test/testSpecFunc
/original/math/mathmore/test/testRandomDist
/original/math/mathmore/test/testRootFinder
/original/math/mathmore/test/testDerivation
/original/math/mathmore/test/testStatFunc

# /math/minuit2/src/
/original/math/minuit2/src/Minuit-1_7_6

# /math/minuit2/test/
/original/math/minuit2/test/testMinimize
/original/math/minuit2/test/testUserFunc
/original/math/minuit2/test/testGraph
/original/math/minuit2/test/testNewMinimizer

# /math/minuit2/test/MnSim/
/original/math/minuit2/test/MnSim/test_Minuit2_ReneTest
/original/math/minuit2/test/MnSim/test_Minuit2_DemoGaussSim
/original/math/minuit2/test/MnSim/test_Minuit2_PaulTest2
/original/math/minuit2/test/MnSim/test_Minuit2_PaulTest3
/original/math/minuit2/test/MnSim/test_Minuit2_PaulTest4
/original/math/minuit2/test/MnSim/test_Minuit2_DemoFumili
/original/math/minuit2/test/MnSim/test_Minuit2_PaulTest

# /math/minuit2/test/MnTutorial/
/original/math/minuit2/test/MnTutorial/test_Minuit2_Quad1F
/original/math/minuit2/test/MnTutorial/test_Minuit2_Quad4F
/original/math/minuit2/test/MnTutorial/test_Minuit2_Quad8F
/original/math/minuit2/test/MnTutorial/test_Minuit2_Quad12F

# /math/smatrix/test/
/original/math/smatrix/test/*.log
/original/math/smatrix/test/testKalman
/original/math/smatrix/test/testOperations
/original/math/smatrix/test/testSMatrix
/original/math/smatrix/test/testIO
/original/math/smatrix/test/stressKalman
/original/math/smatrix/test/stressOperations
/original/math/smatrix/test/TrackDict.h
/original/math/smatrix/test/TrackDict.cxx

# /math/unuran/src/
/original/math/unuran/src/unuran-*-root

# /math/unuran/test/
/original/math/unuran/test/unuranSimple
/original/math/unuran/test/unuranDiscrete
/original/math/unuran/test/unuranHist
/original/math/unuran/test/unuranMulti2D
/original/math/unuran/test/unuranMultiDim
/original/math/unuran/test/unuranDistr
/original/math/unuran/test/*.build.log

# /misc/rootql/
/original/misc/rootql/build

# /misc/rootsl/
/original/misc/rootsl/build

# /net/globusauth/src/
/original/net/globusauth/src/globus_gsi_credential.c

# /proof/proofbench/src/
/original/proof/proofbench/src/ProofBenchCPUSel.par
/original/proof/proofbench/src/ProofBenchDataSel.par

# /roofit/
/original/roofit/inc
/original/roofit/src

# /test/
/original/test/linearIO.root
/original/test/tmpHist.root
/original/test/dt*.root
/original/test/Event*.root
/original/test/Event
/original/test/Event.exe
/original/test/EventDict.h
/original/test/EventDict.cxx
/original/test/EventMTDict.h
/original/test/EventMTDict.cxx
/original/test/event.par
/original/test/sqlitetest
/original/test/testdb.sqlite
/original/test/stress
/original/test/stress.exe
/original/test/stressEntryList
/original/test/stressEntryList.exe
/original/test/stressFit
/original/test/stressFit.exe
/original/test/stressGeometry
/original/test/stressGeometry.exe
/original/test/stressGraphics
/original/test/stressGraphics.exe
/original/test/stressGUI
/original/test/stressGUI.exe
/original/test/stressGUI.ref
/original/test/stressHepix
/original/test/stressHepix.exe
/original/test/stressHepix.log
/original/test/stressLinear
/original/test/stressLinear.exe
/original/test/stressMathCore
/original/test/stressMathCore.exe
/original/test/stressMathMore
/original/test/stressMathMore.exe
/original/test/stressProof
/original/test/stressProof.exe
/original/test/stressRooFit
/original/test/stressRooFit.exe
/original/test/stressShapes
/original/test/stressShapes.exe
/original/test/stressSpectrum
/original/test/stressSpectrum.exe
/original/test/stressTMVA
/original/test/stressTMVA.exe
/original/test/stressVector
/original/test/stressVector.exe
/original/test/stressIterators
/original/test/stressIterators.exe
/original/test/stressInterpreter
/original/test/stressInterpreter.exe
/original/test/stressHistogram
/original/test/stressHistogram.exe
/original/test/stressRooStats
/original/test/stressHistoFit
/original/test/AclockDict.cxx
/original/test/AclockDict.h
/original/test/HelloDict.cxx
/original/test/HelloDict.h
/original/test/QpRandomDriver
/original/test/TBenchDict.cxx
/original/test/TBenchDict.h
/original/test/TetrisDict.cxx
/original/test/TetrisDict.h
/original/test/bench
/original/test/bench.exe
/original/test/ctorture
/original/test/ctorture.exe
/original/test/guitest
/original/test/guitest.exe
/original/test/guiviewer
/original/test/guiviewer.exe
/original/test/guiviewerDict.cxx
/original/test/guiviewerDict.h
/original/test/hsimple
/original/test/hsimple.exe
/original/test/hworld
/original/test/hworld.exe
/original/test/minexam
/original/test/minexam.exe
/original/test/tcollbm
/original/test/tcollbm.exe
/original/test/tcollex
/original/test/tcollex.exe
/original/test/testbits
/original/test/testbits.exe
/original/test/tstring
/original/test/tstring.exe
/original/test/vlazy
/original/test/vlazy.exe
/original/test/vmatrix
/original/test/vmatrix.exe
/original/test/vvector
/original/test/vvector.exe
/original/test/threads
/original/test/threads.exe
/original/test/TrackMathCoreDict.*

# /test/ProofBench/
/original/test/ProofBench/build_trees.C
/original/test/ProofBench/event.par

# /test/RootIDE/
/original/test/RootIDE/RIDE
/original/test/RootIDE/RIDEDict.cxx
/original/test/RootIDE/RIDEDict.h

# /test/RootShower/
/original/test/RootShower/RootShower
/original/test/RootShower/RootShowerDict.cxx
/original/test/RootShower/RootShowerDict.h

# /tutorials/
/original/tutorials/hsimple.root
/original/tutorials/na49.root
/original/tutorials/fillrandom.root

# /tutorials/graphs/
/original/tutorials/graphs/gtime.root

# /tutorials/io/
/original/tutorials/io/exclusive.root
/original/tutorials/io/hsimple.root
/original/tutorials/io/mergeSelective.Chsimple.root
/original/tutorials/io/original.root
/original/tutorials/io/skipped.root

# /tutorials/tree/
/original/tutorials/tree/hvector.root
/original/tutorials/tree/cernstaff.root
/original/tutorials/tree/staff.root
/original/tutorials/tree/basic.root

# TMVA datasets
/original/tmva/tmva/test/DNN/CNN/dataset/SingleElectronPt50_FEVTDEBUG_n250k_IMG_CROPS32.root
/original/tmva/tmva/test/DNN/CNN/dataset/SinglePhotonPt50_FEVTDEBUG_n250k_IMG_CROPS32.root
/original/tmva/tmva/test/DNN/CNN/dataset/tmva_class_example.root
